body {
    margin: 0; 
    
    background-color: #6D28D9;
}

h3 {
    font-size: 50px;
    color: #EEE;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 35.893px;
    display: flex;
    width: 149px;
    flex-direction: column;
    flex-shrink: 0;   
    margin-left: 15px;
    margin-right: 15px;  
}

#background-overlay::after{
    background-image: url("https://images.unsplash.com/photo-1552741775-7817c0c85843?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80");
    background-size: cover;
    height: 100%;
    content: "";
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   

}

.container {
    display: flex;
    justify-content: center;
    text-align: center; 
    align-items: center;
    width: 575px;
    height: 580px;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 10px #260E4D solid;
    border-radius: 25px;
    background-color: #6D28D9;
    position: absolute;
    left: 49%;
    top: 45%;
    margin-left: -250px;
    margin-top: -250px;
    
    
}

.container div {
    padding: 5px 15px 5px 15px;
    border-radius: 15px;  
    
}

#score-background {
    width: 155px;
    height: 120px;
    background-color: #000;
    flex-shrink: 0;
    border-radius: 5px;  
    margin-top: -25px;  
}

#score-background p {
    margin: 0;
    color: #F94F6D;
    font-size: 100px;
    font-family: 'Silkscreen', cursive;
    font-style: normal;
    font-weight: 800; 
}

.buttons-panel{
    display: flex;
    margin-top: 25px;
    column-gap: 0.7rem; 
    margin-bottom: 20px;  
}

button{
    border-color: #fff;
    color: #fff;
    background-color: transparent;
    border-radius: 5px;
    padding: 8px;
    flex:auto;    
}

#container-top{
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    width: 100%;

}


#container-footer{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-bottom: 1.5rem;
    width: 100%;

}

#timer{
    background-color: #000;
    color: #fff;
    padding: 10px 15px 10px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;  
}

#winner{
    display: block;
    padding: 20px;
    visibility: hidden;
    color: #EEE;
    
}
